section {
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 100px;
}


section .nd {
    width: 550px;
    height: 400px;
}

section h2 .heading {
    font-size: 40px;
}

section div .header {
    font-size: 22px;
}

section p .mlpic {
    margin-left: 50px;
}